<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="alert alert-danger text-wrap" role="alert">
            <h4><%= err.message %></h4>
            <% if (process.env.NODE_ENV !== "production") { %>
                <p><%= err.stack %> </p>
            <% } %>
        </div>
    </div>
</div>